@import './base/base';
@import './blocks/form.scss';
@import './blocks/tasks.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: $primary-color;
    padding: 3rem;
    max-width: 80%;
    margin-left:auto;
    margin-right:auto;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

